[board_pins]
aliases:
    #
    # Checked againsy FLY-GEMINI-V3 schematic
    #

    # Stepper drivers
    X_EN=PA3,   X_STEP=PC13,  X_DIR=PC1,  X_CS=PB11,  # X
    Y_EN=PD2,   Y_STEP=PC14,  Y_DIR=PC4,  Y_CS=PC10,  # Y
    Z_EN=PC12,  Z_STEP=PC15,  Z_DIR=PC5,  Z_CS=PB7,   # Z
    E_EN=PC11,  E_STEP=PC3,   E_DIR=PC8,  E_CS=PB6,   # E

    # Heaters
    BED_OUT=PA2,
    HEAT=PA0,

    # Thermisors
    BED_TEMP=PC2,
    HEAT_TEMP=PC0,

    # Fans
    FAN0=PC6,
    FAN1=PC7,

    # End stops
    X_STOP=PA4,
    Y_STOP=PA5,
    Z_STOP=PA6,
    E0_STOP=PB1,

    # EXP1 header # Some seem to be reused for SCREEN_1, CAN_1 and ST-LINK below.# Labelled from R-L to match others in file and male plug.
    EXP1_1=PC9,  EXP1_3=PA13,  EXP1_5=PA9,   EXP1_7=<NC>,  EXP1_9=<GND>,
    EXP1_2=PB10, EXP1_4=PA10,  EXP1_6=PA8,   EXP1_8=<NC>,  EXP1_10=<5V>,
    # TODO: Confirm if EXP1_2=PB6 (from Siboor kit image)

    # EXP2 header - Diagram had labelled in oppose L-R
    # TODO: CONFIRM if should be EXP2_7=PC10 (from Siboor kit image)
    EXP2_1=PB14, EXP2_3=PA15,  EXP2_5=PA14,  EXP2_7=PA7,   EXP2_9=<GND>,
    EXP2_2=PB13, EXP2_4=PB12,  EXP2_6=PB15,  EXP2_8=<RST>, EXP2_10=<NC>,

    # These are labelled as SCREEN however believe they are used for LED strips. Kept some screen alias but that is over USB (using PA9/PA10).
    # Labelled from R-L to match others in file and male plug.
    SCREEN_1_POWER=<5V>,
    SCREEN_1_GROUND=<GND>,
    SCREEN_1_PIN_1=PA9,
    SCREEN_1_PIN_2=PA10,

    LED_STRIP_POWER=<5V>,
    LED_STRIP_DIN=PA9,
    LED_STRIP_GROUND=<GND>,

    # These are labelled as CAN. Kept as PIN_3 and PIN_4 as unsure on exact purpose.
    CAN_1_POWER=<5V>,
    CAN_1_GND=<GND>,
    CAN_1_PIN_3=PA12,
    CAN_1_PIN_4=PA11,

    # ST-LINK # Confirm 3.3V. # Labelled from R-L to match others in file and male plug.
    ST_RST=<RST>, ST_A=PA14, ST_B=PA13, ST_GND=<GND>,
    ST_3V=<3.3V>, # ST_3V=<NC>,
    ST_5V=<5V>, 

    # BL Touch
    SERVO=PB0, # BL Touch servo pin
    PROBE=PA1, # BL Touch end stop pin

    # LEDs
    # TODO: Check if should be host:gpio3 (to match Siboor kit)
    LED_KIRIGAMI_BED=PB1,       # FUTURE: Check this
    NEOPIXEL_KIRIGAMI_BED=PA9,  # The Kirigani has a neopixel
